---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

////// Fonts //////
$font-logo: 'Contrail One', cursive;
$font-header: 'BenchNine', sans-serif;
$font-body: 'Abel', sans-serif;

////// Colours //////
$col-main: #21a1bd;     /* blue */
$col-accent: #f7b322;   /* orange */
$col-neutral: #2b3234;  /* dark grey */
$col-light: #ebebeb;    /* light grey */



////// MQ's //////
// $large-screen: "(min-width: 1200px)";
// $medium-screen: "(max-width: 767px)";
// $small-screen: "(max-width: 520px)";

@mixin breakpoint($point) {
  @if $point == lrg-screen {
    @media (max-width: 1200px) { @content; }
  }
  @else if $point == med-screen {
    @media (max-width: 767px) { @content; }
  }
  @else if $point == sml-screen {
    @media (max-width: 520px)  { @content; }
  }
}


// Import partials from `sass_dir` (defaults to `_sass`)
@import 'reset';
@import 'clearfix';
@import 'box-sizing';
@import 'animate';
@import 'mixins';
@import 'globals';
@import 'btns';

@import 'header';
@import 'bio';
@import 'work';
@import 'feature';
@import 'blog';
@import 'contact';

@import 'salvatore';

@import 'ie7';

@import 'syntax-highlighting';
