---
layout: home
---

<section id="bio" class="trigger bio section-light text-center">
  <article>
    <h2>Front-end developer and sometimes designer...</h2>
  </article>
</section>

<section id="work" class="trigger work section-light">

  {% for post in site.categories.features limit:3 %}
    <article class="work-project">
      <span class="side-line"></span>
      <div class="work-wrap">
        <h3 class="project-title">{{ post.title }}<span>{{ post.tags }}</span></h3>
        <a href="{{ post.url | prepend: site.baseurl }}">
          <img src="{{ post.img }}" alt="{{ post.title }}">
        </a>
        <a href="{{ post.url | prepend: site.baseurl }}" class="btn-work">Find Out More</a>
      </div>
      <div class="cf"></div>
    </article>
  {% endfor %}
  
</section>

<div class="action-wrap">
  <a href="/features" class="btn-all">[ See all work ]</a>
</div>

<section id="about" class="trigger bio bio2 section-light">
  <article>
    <p>Wannabe philosopher and dedicated gamer. If I'm not writing some HTML or Sass in Sublime Text, I'm playing a video game, browsing The Front Page of the Internet, or sleeping in a tent somewhere.</p>
  </article>
</section>

<section id="blog" class="trigger work section-light page-content">
  <article>

    <h3 class="project-title">Blog <span>A collection of things</span> </h3>

    <ul class="post-list">

      {% for post in site.categories.blog limit:2 %}
        <li class="post-item">
          <h2>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h2>
          <p>{{ post.excerpt | remove: '<p>' | remove: '</p>' }}</p>
          <p class="small post-meta">{{ post.date | date: "%b %-d, %Y" }} | <a href="{{ post.url | prepend: site.baseurl }}">Read More</a></p>

        </li>
      {% endfor %}
    </ul>

    <a href="/blog" class="btn-all text-center">[ See all posts ]</a>

  </article>
</section>
