<section id="contact" class="contact section-dark">
  <article>
    <h3>You can find me online @</h3>
    <p><a href="https://www.linkedin.com/in/hidanielle" target="_blank">LinkedIn</a> / <a href="http://twitter.com/hidanielle" target="_blank">Twitter</a> / <a href="https://github.com/hidanielle/" target="_blank">Github</a> / <a href="http://codepen.io/hidanielle/" target="_blank">Codepen</a> / <a href="http://dribbble.com/hidanielle" target="_blank">Dribbble</a></p>
  </article>
</section>