.post-meta {
  font-family: $font-header;
  text-transform: uppercase;
  margin-top: 20px;
}

.post-item,
.post-header {
  margin-bottom: 4em;
  padding-left: 15px;
  border-left: 12px solid $col-light;
}

.post-content {
  p {
    margin: 1em 0;
  }
}

.post-item {
  h2,h3,h4,li {
    @extend %default-txt-style;
    display: inline;
    li {
      font-size: 1em;
    }
  }
}

.feature-post-content {
  hr {
    margin: 2em 0;
  }
  h2,
  h3,
  h4 {
    margin: 20px 0;
    + h1, + h2, + h3, + h4 {
      margin: 0 0 20px 0;
    }
    + p {
      margin-top: 0;
    }
  }

  em {
    @extend .accent2;
  }
  strong {
    font-weight: bold;
  }

  h3 {
    color: $col-accent;
  }
  ul {
    list-style: disc;
    margin-left: 40px;
  }
  ol {
    list-style: decimal;
    margin-left: 40px;
  }
  p {
    margin: 1em 0;

  }
  p, li {
    code {
      background-color: $col-light;
      font-family: Courier;
      font-size: 0.9em;
    }
  }
  li {
    @extend %default-txt-style;
    li {
      font-size: 1em;
    }
  }
}