.btn {
  background-image: url('../../img/icon-set.png');
  background-repeat: no-repeat;
  text-indent: -9999px;
  width: 48px;
  height: 48px;
  cursor: pointer;
  @include breakpoint(med-screen) { 
    background-image: url('../../img/icon-setx2.png');
    background-size: cover;
  }
}

.btn-close { 
  background-position: -6px -7px; 
  @include breakpoint(med-screen) {
    background-position: -6px -5px;
  } 
}
.btn-open { 
  background-position: -66px -7px;
  @include breakpoint(med-screen) {
    background-position: -48px -5px;
  } 
}
.btn-up { 
  display: inline-block;
  background-position: -126px -7px; 
  @include breakpoint(med-screen) {
    background-position: -96px -5px;
    margin: 1em auto;
  }  
}

.btn-all {
  @extend %header-font;
  color: $col-accent;
  font-size: 1.2em;
  display: block;
  margin-bottom: 3em;
}

.btn-work {
  @extend %header-font;
  color: $col-accent;
  font-size: 1.2em;
  border: 4px solid $col-accent;
  text-align: center;
  padding: 0.3em 2em;
  text-decoration: none;
  float: right;
  &:hover {
    border-color: $col-main;
  }
  @include breakpoint(sml-screen) {
    width: 100%;
    padding: 0.3em 0;
  }
  .feature & {
    float: left;
  }
}

.bio-btn {
  position: absolute;
  bottom: -26px;
  left: 0;
  right:0;
  margin: 0 auto;
  cursor: pointer;
}

.btn-nav-open {
  display: none;
  width: 63px;
  height: 63px;
  background-position: -189px -1px; 
  @include breakpoint(sml-screen) {
    display: block;
    float: right;
    line-height: 4;
  }
}

button[type="submit"] {
  background-position: -239px;
  &:hover {
    background-position: -283px;
  }
}