.contact {
  background: {
    color: $col-neutral;
    image: url('../../img/mount-bg.jpg');
    repeat: no-repeat;
    size: cover;
    position: center;
  }
  padding: 200px 0;
  color: white;
  article {
    text-align: center;
  }
  form {
    margin-top: 4em;
    * {
      background-color: transparent;
    }
  }
  input {
    float: left;
    width: 48%;
    line-height: 4;
    font-family: $font-header;
    text-transform: uppercase;
    &:last-of-type {
      float: right;
    }
    @include breakpoint(med-screen) {
      width: 100%;
      float: left;
      line-height: 3;
      &:last-of-type {
        margin-top: 3em;
      }
    }
  }
  textarea {
    width: 100%;
    margin-top: 3em;
    font-family: $font-body;
    height: 8em;
  }
  input,
  textarea {
    border-top: none;
    border-left: none;
    border-bottom: 3px solid white;
    border-right: 3px solid white;
    font-size: 1.2em;
    color: white;
    &:focus {
      outline: none;
      border-color: $col-accent;
    }
  }
  button[type="submit"] {
    float: right;
    margin-top: 1em;
    color: white;
    border: none;
  }
}