@import 'logo';
@import 'nav';

header {
  background-color: white;
  width: 100%;
  height: 20.3125em;
  padding: 8em 0;
  @include breakpoint(sml-screen) {
    height: 14em;
    padding: 5em 0;
  } 
}