.ie-overlay {
  position: absolute;
  overflow: hidden;
  padding-top: 100px;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 1;
  text-align: center;
  h1 {
    font-size: 2em;
    font-family: $font-header;
    color: $col-main;
    text-transform: uppercase;
  }
  a {
    display: block;
    font-family: $font-body;
    color: $col-accent;
    font-size: 1.5em;
    padding: 1em 0;
  }
  img {
    max-width: 300px;
    max-height: 300px;
    width: 100%;
  }
}