.nav-wrapper {
  height: 0px !important;
}

nav {
  overflow: hidden;
  height: 0px;
  padding: 0 3em;
  width: 100%;
  background-color: white;
  color: $col-accent;
  text-transform: uppercase;
  z-index: 1;
  @include transition(background-color, 0.1s, ease);
  font: {
    family: $font-header;
  }
  ul {
    float: right;
    display: block;
    line-height: 5;
    @include breakpoint(sml-screen) {
      display: none;
      width: 100%;
      clear: both;
    }
  }
  li {
    display: inline;
    padding-right: 2em;
    padding-left: 1em;
    &.active {
      border-left: 4px solid $col-light;
    }
    @include breakpoint(sml-screen) {
      display: block;
      line-height: 3;
      text-align: center;
      a {
        display: inline-block;
        width: 100%;
      }
      &:not(:last-child) {
        border-bottom: 1px solid $col-light;
      }
      &.active {
        border-left: none;
        border-right: 1px solid $col-light;
        border-bottom: 1px solid $col-light;
      }
    }
  }
  &.scrolled {
    display: block;
    position:fixed;
    height: auto;
    top:0;
    ul {
      @extend %animated;
      @include animation-name(fadeInDown);
      @include animation-duration(0.5s);
    }
  }
  &.nav-dark {
    background-color: $col-neutral;
  }
  @include breakpoint(sml-screen) {
    padding: 0 1em;
  } 
}