#grid {
  border: none;
  padding: 0;
}

@media screen and (max-width: 480px){
  #grid[data-columns]::before {
    content: '1 .column.size-1of1';
  }
  #grid {
    width: 100%;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  #grid[data-columns]::before {
    content: '2 .column.size-1of2';
  }
  #grid {
    width: 100%;
  }
}
@media screen and (min-width: 769px) {
  #grid[data-columns]::before {
    content: '3 .column.size-1of3';
  }
}

.column { float: left; }
.size-1of1 { width: 100%; }
.size-1of2 { width: 50%; }
.size-1of3 { width: 33.333%; }

.item {
  margin: 1em;
  padding: 1em;
  border: 1px solid #ebebeb;
  // img {
  //   max-width: 350px;
  // }
  .project-title {
    padding-bottom: 0;
  }
  span {
    @extend %header-font;
    color: $col-main;
  }
  a {
    @extend %header-font;
  }
  p {
    padding-bottom: 1em;
  }
}