.work {
  background-color: white;
  min-height: 3em;
  padding: 10em 0 2em 0;
  article {
    padding: 3em 0;
    &:not(:last-child) {
      @include breakpoint(sml-screen) {
        border-bottom: 1px solid $col-light
      }
    }
    &:first-child {
      padding-top: 0;
    }
  }
  img {
    width: 100%;
    margin-bottom: 2em;
    &.img-mobile {
      width: 80%;
      margin: 0 auto;
      display: block;
      max-width: 700px;
    }
  }
  @include breakpoint(sml-screen) {
    padding: 5em 0 2.4em 0;
    .feature & {
      padding-top: 6em;
    }
  }
  @include breakpoint(med-screen) {
    .side-line {
      display: none;
    }
    .work-wrap {
      width: 100%;
      float: left;
    }
  }
}

.project-title {
  color: $col-neutral;
  padding-bottom: 1.5em;
  span {
    position: relative;
    color: $col-main;
    padding: 0 0.5em;
    display: inline-block;
    margin-left: 0.4em;
    @include breakpoint(sml-screen) { 
      display: block;
      padding: 0;
      margin: 0;
      font-size: 0.8em;
    }
    &:before {
      position: absolute;
      content: '|';
      left: 0;
      color: $col-neutral;
      @include breakpoint(sml-screen) {
        content: '';
      }
    }
  }
}

.side-line {
  width: 12px;
  height: 10em;
  float: left;
  background-color: $col-light;
}

.work-wrap {
  float: right;
  width: 96%;
  .feature & {
    width: 100%;
    float: none;
  }
}

.action-wrap {
  margin: 2em auto;
  text-align: center;
  width: 9em;
}
