/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ==========================================================
 */
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary,
.subpagebanner {
    display: block;
}
audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}
audio:not([controls]) {
    display: none;
}
[hidden] {
    display: none;
}
/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */
/* apply a natural box layout model to all elements */

* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    *behavior: url(themes/global/scripts/boxsizing.htc);
}
html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
html,
button,
input,
select,
textarea {
    font-family: sans-serif;
    color: #222;
}
body {
    margin: 0;
    font-size: 62.5%;
    line-height: 1.4;
}
/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}
::selection {
    background: #b3d4fc;
    text-shadow: none;
}
/* =============================================================================
   Links
   ========================================================================== */

a {
    color: #3C3C3E;
}
a:visited {
    color: #3C3C3E;
}
/*
a:hover {
    color: rgb(237,0,31);
} */

a:hover {
    color: rgb(10, 105, 173);
}
a:focus {
    outline: thin dotted;
}
/*
 * Improve readability when focused and hovered in all browsers: h5bp.com/h
 */

a:hover,
a:active {
    outline: 0;
}
/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] {
    border-bottom: 1px dotted;
}
b,
strong {
    font-weight: bold;
}
blockquote {
    margin: 1em 40px;
}
dfn {
    font-style: italic;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
ins {
    background: #ff9;
    color: #000;
    text-decoration: none;
}
mark {
    background: #ff0;
    color: #000;
    font-style: italic;
    font-weight: bold;
}
/*
 * Redeclare monospace font family: h5bp.com/j
 */

pre,
code,
kbd,
samp {
    font-family: monospace, serif;
    _font-family: 'courier new', monospace;
    font-size: 1em;
}
/*
 * Improve readability of pre-formatted text
 */

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}
q {
    quotes: none;
}
q:before,
q:after {
    content: "";
    content: none;
}
small {
    font-size: 85%;
}
/*
 * Position subscript and superscript content without affecting line-height: h5bp.com/k
 */

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}
/* =============================================================================
   Lists
   ========================================================================== */

ul,
ol {
    margin: 1em 0;
    padding: 0 0 0 40px;
}
dd {
    margin: 0 0 0 40px;
}
nav ul,
nav ol {
    list-style: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
}
/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/i/440
 */

img {
    border: 0;
    vertical-align: middle;
    -ms-interpolation-mode: bicubic;
}
/*
 * Correct overflow not hidden in IE9
 */

svg:not(:root) {
    overflow: hidden;
}
/* =============================================================================
   Figures
   ========================================================================== */

figure {
    margin: 0;
}
/* =============================================================================
   Subpagebanner 
   ========================================================================== */

.subpagebanner {
    margin: 0;
}
/* =============================================================================
   Forms
   ========================================================================== */

form {
    margin: 0;
}
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
/*
 * Indicate that 'label' will shift focus to the associated form element
 */

label {
    cursor: pointer;
}
/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */

legend {
    border: 0;
    padding: 0;
    white-space: normal;
    *margin-left: -7px;
}
/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button,
input,
select,
textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
    *vertical-align: middle;
}
/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 */

button,
input {
    line-height: normal;
}
/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 * 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6)
 */

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
    *overflow: visible;
}
/*
 * Re-set default cursor for disabled elements
 */

button[disabled],
input[disabled] {
    cursor: default;
}
/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
    *width: 13px;
    *height: 13px;
}
input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}
/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}
/* =============================================================================
   Tables
   ========================================================================== */

table {
    border-collapse: collapse;
    border-spacing: 0;
}
td {
    vertical-align: top;
}
/* ==|== primary styles =====================================================
  Client: Acosta Marketing
  Author: Adam Arp, Optiem LLC
  ========================================================================== */

html {
    min-width: 1024px;
}
body {
    background: rgb(255, 255, 255) url(../images/bg.png) repeat top left;
}
header {
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(139, 142, 145);
    height: 82px;
}
header .clearfix {
    margin: 0 auto;
    width: 941px;
    position: relative;
}
header aside {
    position: absolute;
    top: 0px;
    right: 0px;
    background: rgb(122, 122, 122);
}
header aside ul {
    margin: 0;
    padding: 0;
}
header aside ul li {
    float: left;
    list-style: none;
    margin: 5px 0;
    padding: 0 8px;
}
header aside ul li:first-child {
    border-right: 1px solid rgb(255, 255, 255);
}
header aside ul li a,
header aside ul li a:visited {
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-transform: uppercase;
    font-family: Lucida Sans, Helvetica, Sans-Serif;
    font-size: 1em;
    font-weight: bold;
}
/*header aside ul li a:hover, header aside ul li a:active {
                color: rgb(237,0,31);
            }*/

header aside ul li a:hover,
header aside ul li a:active {
    color: rgb(10, 105, 173);
}
header h1 {
    margin: 0;
    padding: 0;
    background: transparent url(../images/global/logo-frontline.png) no-repeat bottom left;
    width: 157px;
    height: 70px;
    float: left;
    margin: 4px 0 0 0;
}
header nav {
    bottom: 10px;
    right: 0px;
    float: right;
    margin-top: 45px;
    margin-bottom: 0cm;
}
.lt-ie8 header nav {
    bottom: -8px;
}
.lt-ie9 header nav {
    margin-top: 43px;
}
header nav ul {
    margin: 0;
    padding: 0;
}
header nav ul li {
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
}
header nav ul li a,
header nav ul li a:visited {
    color: rgb(120, 120, 120);
    font-size: 1.4em;
    font-family: Helvetica Bold, Helvetica, Sans-Serif;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0 0 0 30px;
    padding: 0 0 19px 0;
}
.lt-ie8 header nav ul li a,
header nav ul li a:visited {
    display: block;
}
/*   header nav ul li a:hover, header nav ul li a.active {
                        color: rgb(237,0,31);
                        background: transparent url(../images/global/bg_nav_hover.png) no-repeat bottom center;
                    }*/

header nav ul li a:hover,
header nav ul li a.active {
    color: rgb(10, 105, 173);
    background: transparent url(../images/global/bg_nav_hover.png) no-repeat bottom center;
}
section#main,
section.highlights,
section#main section,
footer {
    width: 940px;
    margin: 16px auto;
    padding: 0;
    clear: both;
}
section#main {
    margin-top: 28px;
}
section#main h1 {
    color: rgb(60,60,62); /*grey;*/
    font-size: 2.4em;
    margin: 0;
    font-family:'FranklinGothicW01-Extra 692515', sans-serif;
    text-transform: uppercase;
}

section#main h3 {
    /*padding: 0px 20px;*/
    color: rgb(10, 105, 173) !important;
    font-family:'Serifa W01 45 Light', serif !important;
    font-weight: normal !important;
    text-transform: none! important;
}
/* section#main h2 {
        color: rgb(237,0,31);
        font-size: 1.8em;
        margin: 0;
        clear: both;
    }*/

section#main h2 {
    color: rgb(10, 105, 173);
    font-size: 1.8em;
    margin: 0;
    clear: both;
    color: rgb(10, 105, 173) !important;
    font-family:'Serifa W01 45 Light', serif !important;
    font-weight: normal !important;
    text-transform: none! important;
}
section#main p {
    color: rgb(60, 60, 62);
    font-size: 1.4em;
    line-height: 1.6em;
    padding: 0;
}
section#main ul.client-features p {
    font-size: 1.1em;
}
section#main ul.client-features {
    display: block;
    width: 100%;
    padding: 0;
    margin: 0 0 20px 0;
}
section#main ul.client-features li {
    display: block;
    width: 33%;
    float: left;
    padding: 0 0 20px 0;
    margin: 0;
    text-align: center;
}
a.cta-button {
    display: inline-block;
    padding: 4px 12px;
    background-color: rgb(117, 199, 219);
    border-radius: 4px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-decoration: none;
}
/* a.cta-button {
        display: inline-block;
        padding: 4px 12px;
        background-color: rgb(237,0,31);
        border-radius: 4px;
        color: rgb(255,255,255);
        text-transform: uppercase;
        text-decoration: none;
    }*/

article.products a.cta-button {
    float: right;
}
section#main .gallery {}
section#main .gallery.products {
    padding: 0 0 16px 0;
    background: transparent url(../images/global/border-bottom.png) repeat-x left bottom;
}
section#main .gallery ul {
    width: 940px;
    margin: 0 auto;
    padding: 0;
}
section#main .gallery li {
    list-style: none;
}
section#main .gallery ul.slides_container {
    width: 940px;
    overflow: hidden;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 0px;
    -webkit-box-shadow: 0px 0px 7px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 0px 7px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 0px 7px rgba(50, 50, 50, 0.75);
}
.lt-ie9 section#main .gallery ul.slides_container {
    border: 1px solid rgb(121, 121, 121);
}
section#main .gallery ul.slides_container li figure {
    position: relative;
    height: 355px;
    overflow: hidden;
}
section#main .gallery ul.slides_container li .subpagebanner {
    position: relative;
    height: 263px;
    overflow: hidden;
}
section#main .gallery ul.slides_container li figure img {
    border-radius: 0px;
}
section#main .gallery ul.slides_container figcaption {
    position: absolute;
    bottom: 0;
    left: 16px;
    width: 350px;
    height: 184px;
    /* background-color: rgba(0,0,0,.50);*/
    
    background: transparent url(../images/global/black-header-box.png) repeat;
}
.lt-ie9 section#main .gallery ul.slides_container figcaption {
    /*background-color: rgb(0,0,0);*/
    
    background: transparent url(../images/global/black-header-box.png) repeat;
}
section#main .gallery.products ul.slides_container figcaption {
    padding: 0 2em 0 0;
    width: auto;
    height: 110px;
    top: 0px;
    font-size: 1.3em;
}
section#main .gallery ul.slides_container figcaption h1 {
    margin: 16px 0 0 28px;
    padding: 0;
    color: rgb(255, 255, 255);
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: 4.5em;
    line-height: 1.1em;
    text-transform: capitalize;
    opacity: 1;
    filter: alpha(opacity=100);
}
section#main .gallery ul.slides_container figcaption a {
    position: absolute;
    bottom: 6px;
    right: 12px;
    background: transparent url(../images/global/figcaption-more.png) no-repeat right center;
    padding: 23px 60px 21px 0;
    color: rgb(255, 0, 33);
    text-decoration: none;
    text-transform: uppercase;
    font-family: Helvetica, sans-serif;
    font-size: 1.3em;
    font-weight: bold;
    text-align: right;
}
section#main .gallery ul.gallerycontrol {
    text-align: center;
    margin: 16px auto;
    clear: both;
}
section#main .gallery ul.gallerycontrol li {
    display: inline-block;
}
.lt-ie8 section#main .gallery ul.gallerycontrol li {
    display: inline;
    margin: 0 auto;
}
section#main .gallery ul.gallerycontrol li {
    width: 20px;
    height: 20px;
    background: transparent url(../images/global/slide-pos.png) no-repeat left top;
}
section#main .gallery ul.gallerycontrol li.current,
section#main .gallery ul.gallerycontrol li:hover {
    background: transparent url(../images/global/slide-pos-active.png) no-repeat left top;
}
section#main .gallery ul.gallerycontrol li a {
    display: block;
    width: 15px;
    height: 16px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}
section#main .gallery ul.gallerycontrol li a:focus,
section#main .gallery ul.gallerycontrol li a:active,
section#main .gallery ul.gallerycontrol li a:visited {
    border: none;
    outline: none;
}
.lt-ie9 section#main .gallery ul.gallerycontrol li a:selected {
    border: none;
    outline: none;
}
section#main section.highlights {
    clear: both;
    padding: 0 0 22px 0;
    background: transparent url(../images/global/border-bottom.png) repeat-x left bottom;
}
section.highlights article {
    position: relative;
    float: left;
    margin: 0 20px 0 0;
    padding: 0;
    padding-bottom: 35px;
    width: 300px;
    height: 172px;
    overflow: hidden;
}
.lt-ie9 section.highlights article {
    width: 290px;
    border: 1px solid rgb(121, 121, 121)
}
section.highlights article:last-child {
    margin: 0;
}
section.highlights article h1 {
    margin: 0;
    padding: 0 0 0 60px !important;
    color: rgb(60, 60, 62);
    font-size: 2.8em !important;
    font-weight: bold;
    height: 43px;
    color: rgb(10, 105, 173) !important;
    font-family:'FranklinGothicW01-Extra 692515', sans-serif !important;
    text-transform: uppercase !important;
}
section.highlights article.spotlight h1 {
    background: transparent url(../images/global/icon-sprites.png) no-repeat -15px -1px;
}
section.highlights article.performance h1 {
    background: transparent url(../images/global/icon-sprites.png) no-repeat -15px -102px;
}
section.highlights article.retail h1 {
    background: transparent url(../images/global/icon-sprites.png) no-repeat -15px -52px;
}
section.highlights article a.cta-button {
    position: absolute;
    bottom: 0;
    right: 16px;
    width: 75%;
    border-bottom-left-radius: 0;
    height: 35px;
    line-height: 35px;
    padding: 0;
    text-align: center;
    font-weight: bold;
}
/*section#main section.highlights article h2 {
            margin: 8px 16px 4px;
            color: rgb(237,0,31);
            font-size: 1.4em;
            font-weight: bold;
            text-transform: uppercase;
        }*/

section#main section.highlights article h2 {
    margin: 8px 16px 4px;
    color: rgb(10, 105, 173);
    font-size: 1.4em;
    font-weight: bold;
    text-transform: uppercase;
}
section.highlights article p {
    font-size: 1.3em;
    color: rgb(121, 121, 121);
    padding-left: 60px !important;
    margin-top: 0 !important;
}
section.marketing {}
section.marketing article {
    width: 370px;
    float: left;
    text-align: center;
}
.lt-ie9 section.marketing article {
    width: 360px;
}

            section.marketing h1 {
                color: rgb(10, 105, 173) !important;
                font-family:'Serifa W01 45 Light', serif !important;
                font-weight: normal !important;
                text-transform: none! important;
            }


section.marketing article h2 {
    color: rgb(237, 0, 31);
    font-size: 1.8em;
    font-weight: bold;
}
section.marketing article p {
    color: rgb(121, 121, 121);
    font-size: 1.2em;
    line-height: 1.4em;
}
section.marketing article a.cta-button {
    font-size: 1em;
    float: right;
}
section.marketing aside {
    float: left;
    margin: 0 0 0 16px;
    padding: 0 0 0 40px;
    background: transparent url(../images/global/border-vert.png) repeat-y top left;
    width: 530px;
}
section.marketing aside h1 {
    margin: 0 0 8px 0;
    padding: 0;
    font-size: 2.4em;
    font-weight: bold;
    color: rgb(60, 60, 62);
}
section#main aside.product-list {
    float: left;
    width: 210px;
}
section#main aside.product-list h1 {
    margin: 0;
    padding: 0 0 12px 0;
    color: rgb(0, 0, 0);
    font-size: 1.4em;
    font-weight: bold;
    text-transform: none !important;
}
/* section#main aside.product-list h1 a {
                text-decoration: none;
                color: rgb(0,0,0);
                font-size: 1.1em;
                font-weight: bold;
        }*/

section#main aside.product-list h1 a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 1.1em;
    font-weight: bold;
}
section#main aside.product-list p {
    font-size: 1.2em;
    font-style: normal;
    margin: 5px 0;
    padding: 0;
    font-weight: bold;
}
section#main aside.product-list p a {
    color: rgb(10, 105, 173);
    text-decoration: none;

}

section#main aside.product-list p strong {
    color: black;

}
section#main aside.product-list ul {
    margin: 8px 0 0 0;
    padding: 0;
}
section#main aside.product-list ul li {
    display: table;
    margin: 0 0 6px 0;
    padding: 0 0 6px 0;
    clear: both;
    list-style-type: none;
    color: rgb(0, 0, 0);
    font-size: 1.2em;
    font-weight: bold;
    overflow: hidden;
}
section#main aside.product-list ul li span {
    display: block;
    float: left;
}
section#main aside.product-list ul li span > a:after {
    display: none;
}
section#main aside.product-list ul li h3 {
    float: none;
    display: table-cell;
    vertical-align: middle;
    width: 105px;
    margin: 7px 0 0 0;
    padding: 0;
    font-family: sans-serif !important;
}
/*        section#main aside.product-list ul li a, section#main aside.product-list ul li a:visited {
          float: none;
          display: block;
          margin: 0 8px 0 0;
          height: auto;
          width: auto;
          color: rgb(0,0,0);
          text-decoration: none;
          font-weight: bold;
          overflow: visible;
        }*/

section#main aside.product-list ul li a,
section#main aside.product-list ul li a:visited {
    float: none;
    display: block;
    margin: 0 8px 0 0;
    height: auto;
    width: auto;
    color: rgb(10, 105, 173);
    text-decoration: none;
    font-weight: normal;
    overflow: visible;
}
section#main aside.product-list ul li a:after {
    content: ' >';
}
/* section#main aside.product-list ul li a:hover, section#main aside.product-list ul li a:active {
                    color: rgb(237,0,31);
                }*/

section#main aside.product-list ul li a:hover,
section#main aside.product-list ul li a:active {
    color: rgb(10, 105, 173);
    font-weight: bold;
}
section#main article.products {
    float: left;
    width: 700px;
    margin: 0 0 0 12px;
    padding: 0 0 0 40px;
    background: transparent url(../images/global/border-vert.png) repeat-y top left;
}
.lt-ie8 section#main article.products {
    width: 690px;
}
section article.products li {
    list-style: none;
}
section#main article.products .frontlineSitemap {
    font-size: 1.2em;
}
section#main article.products .frontlineSitemap li {
    list-style: disc;
    margin: 0 0 8px 0;
}
section#main article.products .frontlineSitemap li a {
    text-decoration: none;
}
section#main article.products .frontlineSitemap li a:hover {
    text-decoration: underline;
}
footer {
    padding: 16px 0 32px 0;
    clear: both;
    background: transparent url(../images/global/border-bottom.png) repeat-x left top;
}
footer .copy {
    float: left;
}
footer .social {
    float: right;
    margin: 0;
}
footer .social li {
    float: left;
    list-style-type: none;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}
footer .social li a {
    display: block;
    width: 28px;
    height: 28px;
    margin: 0 0 0 3px;
}
footer .social li a.facebook {
    background: transparent url(../images/global/social-facebook.png) no-repeat top left;
}
footer .social li a.twitter {
    background: transparent url(../images/global/social-twitter.png) no-repeat top left;
}
footer .social li a.linkedin {
    background: transparent url(../images/global/social-linkedin.png) no-repeat top left;
}
footer .social li a.email {
    background: transparent url(../images/global/social-email.png) no-repeat top left;
}
footer .social li a.addthis {
    width: 82px;
    background: transparent url(../images/global/social-addthis.png) no-repeat top left;
}

.st_linkedin_large .stLarge {
    background-image: url(/uploadedImages/Frontline/Images/email.png) !important;
}

/*.st_twitter_large .stLarge {
    background-image: url(/uploadedImages/Frontline/Images/twitter.png) !important;
}*/

.st_googleplus_large .stLarge {
    background-image: url(/uploadedImages/Frontline/Images/gmail.png) !important;
}

.st_facebook_large .stLarge {
    background-image: url(/uploadedImages/Frontline/Images/facebook.png) !important;
}

.st_email_large .stLarge {
    background-image: url(/uploadedImages/Frontline/Images/email.png) !important;
}




/* ==|== media queries ======================================================
   PLACEHOLDER Media Queries for Responsive Design.
   These override the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 48em) {
    /* Style adjustments for viewports 480px and over go here */
}
@media only screen and (min-width: 76em) {
    /* Style adjustments for viewports 768px and over go here */
}
/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */
/*
 * Contain floats: h5bp.com/q
 */

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}
.hidetext {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}
/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster: h5bp.com/s */
        
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    /*
     * Don't show links for images, or javascript/internal links
     */
    
    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    thead {
        display: table-header-group;
        /* h5bp.com/t */
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    @page {
        margin: 0.5cm;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}
