---
layout: default
title: blog | hidanielle
type: blog
---

<section id="blog" class="work page-content">
  <article>

    <h3 class="project-title">Blog <span>A collection of things</span> </h3>

    <ul class="post-list">
      {% for post in site.categories.[page.type] %}
        <li class="post-item">
          <h2>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h2>
          <p>{{ post.excerpt | remove: '<p>' | remove: '</p>' }}...</p>
          <p class="small post-meta">{{ post.date | date: "%b %-d, %Y" }} | <a href="{{ post.url | prepend: site.baseurl }}">Read More</a></p>

        </li>
      {% endfor %}
    </ul>

    <a href="/" class="btn-all text-center">[ Back to home ]</a>

  </article>
</section>
