---
layout: default
title: features | hidanielle
type: features
---
<section id="work" class="work page-inner">

    <article id="grid" data-columns>
      {% for post in site.categories.[page.type] %}
        <div class="item"> 
          <a href="{{ post.url | prepend: site.baseurl }}">
            <img src="{{ post.img }}" alt="{{ post.title }}">
          </a>

          <h3 class="project-title">{{ post.title }}</h3>
          <span>{{ post.tags }}</span> | <a href="{{ post.url | prepend: site.baseurl }}">View</a>
        </div>
      {% endfor %}
    </article>

    <div class="cf"></div>

  </section>

<div class="action-wrap">
  <a href="/" class="btn-all">[ Back to Home ]</a>
</div>