---
layout: default
---
<section id="work" class="work page-inner">

    <article class="feature-content">
      <div class="post-header">
        <h2>{{ page.title }}</h2>
      </div>
      
      {{ content }}

    </article>

    <div class="cf"></div>

</section>

<div class="action-wrap">
  <a href="/features" class="btn-all">[ Back to All ]</a>
</div>