---
layout: default
---
<section id="work" class="work page-inner">

    <article class="feature-post-content">
      <div class="post-header">
        <span class="small post-meta">{{ page.date | date: "%b %-d, %Y" }}</span>
        <h2>{{ page.title }}</h2>
      </div>
      
      {{ content }}

    </article>

    <div class="cf"></div>

</section>

<div class="action-wrap">
  <a href="/blog" class="btn-all">[ Back to All ]</a>
</div>